<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
 
-->

<!--
  UUlm Style 

  Author: Benjamin Erb

  URL: https://github.com/berb/html5slides-uulm

-->

<html>
  <head>
    <title>HTML5 Slide Deck – uulm Style</title>

    <meta charset='utf-8'>
 <script
      src='../slides.js'></script>

	<link href="../uulm.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
    
    
  </style>

  <body style='display: none'>

    <section class='slides layout-normal template-uulm-in'>
      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->
        

    <article class='title-slide'>
        <h1 id="title">
          HTML5 Slide Deck
        </h1>
        <h2 id="author">
	Benjamin Erb<br>
	July 2011
        </h2>
        <h2 id="subtitle">
          Feature Demonstration<br>
	  HTML5 + CSS3 + some JS
        </h2>
        <p>
          <img id="title-header" src='images/header_sample.jpg'>
          <img id="uulm-logo" src='../images/uulm_logo.svg'>
        </p>
      </article>

      <article>
        <h3>
          The nitty-gritty, this is a slide:
        </h3>
        <section>
        <pre>
      &lt;article&gt;
        &lt;h3&gt;
          Slide captions are &lt;h3&gt; headings
        &lt;/h3&gt;
        &lt;p&gt;
	  Each slide is represented by an HTML5 &lt;article&gt;. 
          Content is regular HTML, such as this &lt;p&gt; paragraph
        &lt;/p&gt;
        &lt;p&gt;
          Lorem ipsum dolor sit amet.
        &lt;/p&gt;
      &lt;/article&gt;
</pre>
        </section>
	<p>You can see on next slide what it looks like.</p>
      </article>



      <article>
        <h3>
          Slide captions are &lt;h3&gt; headings
        </h3>
        <p>
	  Each slide is represented by an HTML5 &lt;article&gt;. 
          Content is regular HTML, such as this &lt;p&gt; paragraph
        </p>
        <p>
          Lorem ipsum dolor sit amet.
        </p>
      </article>

      <article class='smaller'>
        <h3>
          You can use a smaller font, too
        </h3>
       <section>
        <pre>
&lt;article class='smaller'&gt;
</pre>
        </section>
        <p>
         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        <p class="in-color">
          <strong>Try to prevent such slides!</strong> Your audience will hate you (with a good reason).
        </p>
      </article>

      <article>
        <h3>
          Presenter notes
        </h3>
	<p>
		Presenter notes are semi-transparent overlays that can be toggled.
		They will not be shown in the regular slide deck by default.
	</p>
        <section>
        <pre>
      &lt;article&gt;
	...
        &lt;aside&gt;
          This is a presenter note!
        &lt;/aside&gt;
      &lt;/article&gt;
</pre>
        </section>
	<p>Push <strong class="accent-color">n</strong> to toggle presenter notes</p>

	<aside>
		This is presenter note!
	</aside>
      </article>

      <article>
        <h3>
          Death by Bullet Point
        </h3>
        <ul>
          <li>Bullshit – We can do it, too!</li>
          <li>Unique selling proposition</li>
          <li>Return on investment</li>
          <li>Yada yada yada</li>
          <li>Never use more than 5 bullets on a single slide!</li>
        </ul>
      </article>

      <article>
        <h3>
          Death by Bullet Point – Creeping death version
        </h3>
        <ul class="build">
          <li>Bullshit – We can do it, too!</li>
          <li>Unique selling proposition</li>
          <li>Return on investment</li>
          <li>Yada yada yada</li>
          <li>Never use more than 5 bullets on a single slide!</li>
        </ul>

        <div class="build">
	<h4>How it works:</h4>
             <section>
	<pre>
&lt;ul class='build'&gt;	
</pre>
	<pre>
&lt;div class='build'&gt;	
</pre>
		</section>
        </div>
      </article>

      <article class='smaller'>
        <h3>
          Death by Bullet Point – Shotgun version (small font)
        </h3>
        <ul>
          <li>Yada yada yada</li>
          <li>Yada yada yada</li>
          <li>Yada yada yada</li>
          <li>Yada yada yada</li>
          <li>Yada yada yada</li>
          <li>Yada yada yada</li>
          <li>Yada yada yada</li>
          <li>Yada yada yada</li>
          <li>Yada yada yada</li>
          <li>Yada yada yada</li>
        </ul>
      </article>

      <article>
        <h2>
          By the way…
        </h2>
      </article>

      <article class='fill'>
        <q>
          Power corrupts and PowerPoint corrupts absolutely.
        </q>
        <div class='author'>
          Vint Cerf 
        </div>
      </article>

      <article>
        <h3>
          Cheat Sheet – Shortcuts
        </h3>
        
        <table>
          <tr>
            <th>Key</th>
            <th>Function</th>
          </tr>
          <tr>
            <td>enter/space/right arrow</td>
            <td>advance</td>
          </tr>
          <tr>
            <td>backspace/left arrow</td>
            <td>go back</td>
          </tr>
          <tr>
            <td>g</td>
            <td>prompt: go to slide</td>
          </tr>
          <tr>
            <td>home/pos1</td>
            <td>jump to start slide</td>
          </tr>
          <tr>
            <td>end</td>
            <td>jump to end slide</td>
          </tr>
          <tr>
            <td>shift +/-</td>
            <td>zoom in/out</td>
          </tr>
          <tr>
            <td>F11</td>
            <td>fullscreen mode</td>
          </tr>
          <tr>
            <td>n</td>
            <td>show/hide presenter notes</td>
          </tr>
        </table>
      </article>
      
      <article class='smaller'>
        <h3>
          Slide with a table (smaller text)
        </h3>
        
        <table>
          <tr>
            <th>Key</th>
            <th>Function</th>
          </tr>
          <tr>
            <td>enter/space/right arrow</td>
            <td>advance</td>
          </tr>
          <tr>
            <td>backspace/left arrow</td>
            <td>go back</td>
          </tr>
          <tr>
            <td>g</td>
            <td>prompt: go to slide</td>
          </tr>
          <tr>
            <td>home/pos1</td>
            <td>jump to start slide</td>
          </tr>
          <tr>
            <td>end</td>
            <td>jump to end slide</td>
          </tr>
          <tr>
            <td>shift +/-</td>
            <td>zoom in/out</td>
          </tr>
          <tr>
            <td>F11</td>
            <td>fullscreen mode</td>
          </tr>
          <tr>
            <td>n</td>
            <td>show/hide presenter notes</td>
          </tr>
        </table>
      </article>
      
      <article>
        <h3>
          Styles
        </h3>
        <ul>
          <li>
            <span class='uulm-color'>class="uulm-color"</span>
          <li>
            <span class='in-color'>class="in-color"</span>
          <li>
            <span class='mawi-color'>class="mawi-color"</span>
          <li>
            <span class='nawi-color'>class="nawi-color"</span>
          <li>
            <span class='med-color'>class="med-color"</span>
          <li>
            <span class='accent-color'>class="accent-color"</span>
          <li>
            <b>bold</b> and <i>italic</i>
        </ul>
      </article>

      <article>
        <h3>
          Slide with an image
        </h3>
        <p>
          <img style='height: 400px' src='images/social_viz2.jpg'>
        </p>
        <div class='source'>
          Source: Benjamin Erb
        </div>
      </article>

      <article>
        <h3>
          Slide with an image (centered)
        </h3>
        <p>
          <img class='centered' style='height: 400px' src='images/social_viz2.jpg'>
        </p>
        <div class='source'>
          Source: Benjamin Erb
        </div>
      </article>

      <article class='fill'>
        <h3>
          Image filling the slide (with optional header)
        </h3>
        <p>
          <img src='images/social_viz.jpg'>
        </p>
        <div class='source white'>
          Source: Benjamin Erb
        </div>
      </article>


      <article>
        <h3>
          A slide with an embed + title
        </h3>
        <iframe src='https://github.com/berb/html5slides-uulm/'></iframe>
      </article>

      <article>
        <iframe src='https://github.com/berb/html5slides-uulm/'></iframe>
      </article>

      <article class='fill'>
        <h3>
          I'm on a iframe (fullscreen)!
        </h3>
        <iframe src='https://github.com/berb/html5slides-uulm/'></iframe>
      </article>

      <article>
        <h3>
          That's all for now!
        </h3>
        
        <ul>
          <li>
            Source: <a href='https://github.com/berb/html5slides-uulm'>github.com/berb/html5slides-uulm</a>
          <li>
            <a href='http://www.benjamin-erb.de'>Benjamin Erb</a>
          <li>
            <a href='http://code.google.com/p/html5slides'>Original Google html5slides</a>
        </ul>
      </article>

    </section>

  </body>
</html>
