<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
 
-->
<!--
  UUlm Style 

  Author: Benjamin Erb

  URL: https://github.com/berb/html5slides-uulm

-->

<html>

<head>
	<link href="../styles.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="../uulm.css" media="screen" rel="stylesheet" type="text/css" />
	<meta charset='utf-8'>
	<script src='../slides.js'></script>
 
	<title>HTML5 Slide Deck – uulm Style</title>

</head>

<body style='display: none'>

	<section class='slides layout-normal template-uulm-in'>
	
		<!-- title slide -->
		<article class='title-slide'>
			<h1 id="title">HTML5 Slide Deck</h1>
			<h2 id="author">
				Benjamin Erb<br>&nbsp;
			</h2>
			<h2 id="subtitle">
				Minimal Example<br>&nbsp;
			</h2>
			<p>
				<img id="title-header" src='images/header_sample.jpg'> 
				<img id="uulm-logo" src='../images/uulm_logo.svg'>
			</p>
		</article>
		

		<!-- a content slide -->
		<article>
			<h3>Hello World!</h3>
			<ul>
				<li>foo</li>
				<li>bar</li>
				<li>bla</li>
			</ul>
			<aside>
				<p>This is a presenter note.</p>
			</aside>
		</article>

	</section>
	

</body>
</html>
